<style>

.category-shell

{

position:relative;
width:100%;
border:0px #c00 solid;

}

.category-container

{

border:0px solid #ccc;
margin-left:auto;
margin-right:auto;
width:1100px;
position:relative;

}

.category-left

{

width:240px;
margin-right:10px;
float:left;

}

.category-center

{

width:550px;
margin-right:30px;
float:left;
text-align:left;
border:0px solid #ccc;
}

.category-right

{

width:250px;
float:left;
text-align:left;
border:0px solid #ccc;


}

div.clearer

{

clear:both;

}

div.item

{

display:block;
margin-bottom:10px;

}

div.item a.title

{

font-weight:bold;
font-size:14px;
float:right;
display:inline-block;
border:0px solid #c00;
width:480px;
}

div.item > div.date

{

font-size:10px;
display:block;
margin-bottom:2px;

}

div.item > div.project

{

text-align:right;
font-size:10px;
display:block;

}

div.item a

{

font-weight:normal;
text-decoration:none;
color:#8F3747;
font-size:12px;
display:block;

}

div.item div a

{

color:black;
font-size:9px;

}

.statCounts
{
position:relative;
}

.statCellDataL
{
color:#8F3747;
display:inline;
font-weight:bold;
font-size:24px;
position:absolute;
left:30px;
top:30px;
width:70px;
text-align:center;
}
.statCellDataR
{
color:#8F3747;
display:inline;
font-weight:bold;
font-size:24px;
position:absolute;
left:125px;
top:30px;
width:70px;
text-align:center;
}

.statCellL1
{
display:inline;
font-size:10px;
position:absolute;
left:30px;
top:60px;
color:#7392B2;
width:70px;
text-align:center;
}
.statCellR1
{
display:inline;
font-size:10px;
position:absolute;
left:125px;
top:60px;
color:#7392B2;
width:70px;
text-align:center;
}

.statCellL2
{
display:inline;
font-size:10px;
position:absolute;
left:30px;
top:75px;
color:#7392B2;
width:70px;
text-align:center;
}
.statCellR2
{
display:inline;
font-size:10px;
position:absolute;
left:125px;
top:75px;
color:#7392B2;
width:70px;
text-align:center;
}

div a:hover

{

color:#FDC593;

}

div.item div a:hover

{

color:#FDC593;

}
div.category-mission

{

/*font-style:italic;*/
font-style:bold;
font-size:16px;
color:#7392B2;
display:block;
margin-top:6px;
margin-bottom:6px;
text-align:left;

}

div.feature-box 

{ 

text-align:left; 
width:240px; 
background-color:#ebf3f8; 
padding:12px; 
border-radius:8px; 
-moz-border-radius:8px; 
overflow:hidden; 
margin-bottom:18px;
margin-top:4px;

}

div.box-label-1

{

font-size:16px;
font-weight:bold;
display:block;
margin-bottom:2px;

}

div.box-label-2

{

font-size:12px;
font-style:italic;
display:block;
margin-bottom:12px;

}

div.box-more > a

{

font-weight:bold;

}

div.textHeader12

{

width:100%;
background-color:#81a5d4;
color:#fff;
padding:2px;
font-weight:bold;
font-size:16px;
text-shadow: 1px 1px #333;
margin-bottom:6px;
padding-left:4px;
margin-top:5px;
}

.filter-item

{

width:195;
display:inline-block;
float:left;
margin-right:5px;
border:0px solid #000;
font-size:13px;
font-weight:normal;
}

.filter-item > input.filter-by, .filter-item > input.no-filter

{

float:left;
display:inline-block;
width:25px;

}

.filter-item > .lbl

{
/*

float:left;
display:inline-block;
width:180px;
*/

}

.filter-item > .count

{

float:left;
display:inline-block;
width:40px;
text-align:right;
font-weight:bold;

}

.page_nav {
	text-align: center;
}

.page_nav > .page_back, .page_nav > .page_next, .page_nav > .page_number
{
	display: inline-block;
	margin: 0px 2px;
	cursor: pointer;
	color: #f75236;
	font-weight: bold;
}

.page_nav > .inactive
{
	cursor: default;
	color: #4D4D4D;
}

div.navigation-path

{

display:block;
margin-top:10px;

}

div.navigation-path > a

{

font-size:14px;
color:#333;
text-decoration:none;

}

div.category-center > h2

{

margin:0;
font-size:20px;
color:#8F3747;
font-weight:bold;


}

div.category-stats

{

display:block;
margin-bottom:2px;
margin-top:2px;
font-size:13px;

}

div.project-listing

{

display:block;
margin-bottom:12px;

}

div.project-listing > div.item

{

display:block;
font-size:12px;
margin-top:8px;

}

div.project-listing > div.item > div.thumb

{

display:inline-block;
margin-right:12px;
float:left;
padding-top:4px;

}

div.project-listing > div.item > div.description

{

float:right;
display:inline-block;
border:0px solid #c00;
width:480px;

}

div.project-listing > div.item > div.thumb > a > img

{

outline:1px solid #ccc;
border:3px solid #fff;
width:50px;
max-height:60px;
margin-bottom:4px;

}

div.featured-project-listing

{

display:block;
margin-bottom:2px;

}

div.featured-project-listing > div.item

{

display:block;
font-size:12px;
margin-top:8px;

}

div.featured-project-listing > div.item > div.thumb

{

display:inline-block;
margin-right:12px;
float:left;
padding-top:4px;

}

div.featured-project-listing > div.item a.title

{

font-weight:bold;
font-size:14px;
float:right;
display:inline-block;
border:0px solid #c00;
width:450px;
}

div.featured-project-listing > div.item > div.description

{

float:right;
display:inline-block;
border:0px solid #c00;
width:450px;

}

div.featured-project-listing > div.item > div.thumb > a > img

{

outline:1px solid #ccc;
border:3px solid #fff;
width:75px;
max-height:90px;
margin-bottom:4px;

}

div.add-featured-project a {
	color: #8F3747;
}

.quicklink_icon {
	width: 16px;
	height: 16px;
}

div.search-bar

{

background-color:#ebf3f8; 
padding:5px; 
font-size:13px;
font-weight:bold;
display:block;
border-top-left-radius: 8px;
border-top-right-radius: 8px;
-moz-border-radius-topleft: 8px;
-moz-border-radius-topright: 8px;
}

div.search-bar > form input[type="text"]

{

border-radius:4px; 
-moz-border-radius:4px; 
border:1px solid #ccc;
font-size:12px;
width:230px;
margin-top:5px;

}

div.sort-bar

{

margin-top:2px;
margin-bottom:8px;

}

div.view-bar

{

display:block;
margin-bottom:16px;
margin-top:12px;
border:0px solid #ccc;

}

div.view-bar > a

{

color:#8F3747;
font-weight:bold;

}

div.dummy-path
{
display:block;
margin-top:10px;
}
div.dummy1
{
font-size:14px;
text-decoration:none;
}
div.dummy2
{
margin:0;
font-size:20px;
font-weight:bold;
}
div.dummy3
{
postion:relative;
margin-top:6px;
height:60px;
}

.wrapper
{
position:relative;
display:block;
width:100%;
}
.downloads
{
position:absolute;
text-align:left;
top:0;
left:0;
}
.lastUpdated
{
position:absolute;
text-align:center;
width:100%;
top:0;
left:0;
}


div.category-right > div.social

{

display:block;
height:83px;
text-align:center;
border:0px solid #ccc;
width:240px;
position:absolute;
bottom:0;
right:0;

}

div.social > div.SocialButtonFB, div.social > div.SocialButtonGPlus, div.social > div.SocialButtonLinkedIn, div.social > div.SocialButtonTwit,div.social > SocialButtonFB > div.fb-like

{

float:left;
margin:0;
/*padding:0;*/
padding-left:2px;
display:inline;
border:0px solid #900;
}

div.spacer6

{

display:block;
height:6px;

}

div.spacer32

{

display:block;
height:32px;

}

div.social > div.SocialButtonFB, div.social > div.SocialButtonFB > div.fb-link

{

display:inline !important;

}

@-moz-document url-prefix()

{

div.category-right > div.social 

{

height:87px;

}

}

div.category-difference

{

font-size:12px;

}


div.category-difference > div.item > a > img

{

outline:1px solid #ccc;
border:3px solid #fff;
width:160px;
height:90px;
overflow:hidden;
margin-bottom:6px;
margin-top:6px;

}

div.category-publications > div.item 

{

margin-bottom:4px;

}

div.category-publications > div.item > div.date

{

font-size:10px;
display:block;
margin-bottom:2px;

}

div.category-publications > div.item > div.project

{

align:right;
font-size:10px;
display:block;
margin-top:3px;

}

div.category-publications > div.box-more > a

{

color:#8F3747;
font-size:12px;

}

div.category-publications > div.item > div.publication

{

text-align:right;
font-size:10px;
display:block;
margin-top:2px;

}

div.accordion-feature-box 

{ 

text-align:left; 
width:240px; 
background-color:#ebf3f8; 
padding:5px; 
border-bottom-left-radius: 8px;
border-bottom-right-radius: 8px;
-moz-border-radius-bottomleft: 8px;
-moz-border-radius-bottomright: 8px;
overflow:hidden; 
margin-bottom:18px;

}

#accordion
{
width:235px;
}

#titleFilter::-ms-clear
{
display:none;
}

.search-go
{
background: url("/js/images/reload_button.png") no-repeat scroll left top transparent;
border: 0 none;
height: 18px;
margin-left:8px;
margin-top: 5px;
text-indent: -9999px;
width: 18px;
background-size:100%;
background-size:18px;
}

.theCategories td
{
min-width:200px;
}

.search-label
{
color:#2E6E9E;
font-size:13px;
padding-left:5px;
font-family:Lucida Grande,Lucida Sans,Arial,sans-serif;
}


