Options +FollowSymLinks
RewriteEngine on
RewriteRule ^home/mapper /projects/rna-mapper [R=301,NC,L]
RewriteRule ^home/nmbltk /projects/opensim [R=301,NC,L]
RewriteRule ^home/RunningSim /projects/runningsim [R=301,NC,L]
RewriteRule ^home/sblowlimbmodel /projects/low_limb_london [R=301,NC,L]
RewriteRule ^home/(.*)$ /projects/$1 [R=301,NC,L]
RewriteRule ^project/xml/downloads-summary.xml(.*)$ /plugins/reports/index.php$1 [R=301,NC,L]
RewriteRule ^project/stats/usagemap.php(.*)$ /plugins/reports/usagemap.php$1 [R=301,NC,L]
RewriteRule ^project/xml/downloads.xml(.*)$ /frs/index.php$1 [R=301,NC,L]
RewriteRule ^project/xml/team.xml(.*)$ /project/memberlist.php$1 [R=301,NC,L]
RewriteRule ^project/xml/publications.xml(.*)$ /plugins/publications/index.php$1 [R=301,NC,L]
RewriteRule ^project/xml/news.xml(.*)$ /plugins/simtk_news/index.php$1 [R=301,NC,L]
RewriteRule ^xml/index.xml /index.php [R=301,NC,L]
RewriteRule ^forums/opensim /plugins/phpBB/indexPhpbb.php?f=91 [R=301,NC,L]
RewriteRule ^forums/openmm /plugins/phpBB/indexPhpbb.php?f=161 [R=301,NC,L]
RewriteRule ^forums/website /plugins/phpBB/indexPhpbb.php?f=11 [R=301,NC,L]
RewriteRule ^forums/simbody /plugins/phpBB/indexPhpbb.php?f=47 [R=301,NC,L]
RewriteRule ^forums/viewforum.php(.*)$ /plugins/phpBB/indexPhpbb.php$1 [R=301,NC,L]
RewriteRule ^forums/viewtopic.php(.*)$ /plugins/phpBB/viewtopicPhpbb.php$1 [R=301,NC,L]
RewriteRule ^xml/opportunities.xml(.*)$ /opportunities.php$1 [R=301,NC,L]
RewriteRule ^websvn/wsvn/([-a-zA-Z0-9_]*)$ /scm/viewvc.php?root=$1 [R=301,NC,L]
RewriteRule ^websvn/wsvn/([-a-zA-Z0-9_]*)/$ /scm/viewvc.php?root=$1 [R=301,NC,L]
RewriteRule ^websvn/wsvn/([-a-zA-Z0-9_]*)/(.*)$ /scm/viewvc.php/*checkout*/$2?root=$1 [R=301,NC,L]
