<!-- INCLUDE mcp_header.html -->

<!-- IF S_MCP_REPORT -->
	<!-- IF S_PM -->
	<h2>{L_PM_REPORT_DETAILS}</h2>
	<!-- ELSE -->
	<h2>{L_REPORT_DETAILS}</h2>
	<!-- ENDIF -->

	<div id="report" class="panel">
		<div class="inner">

		<div class="postbody">
			<h3>{L_REPORT_REASON}{L_COLON} {REPORT_REASON_TITLE}</h3>
			<p class="author">{L_REPORTED} {L_POST_BY_AUTHOR} {REPORTER_FULL} &laquo; {REPORT_DATE}</p>
		<!-- IF S_REPORT_CLOSED -->
			<p class="post-notice reported"><i class="icon fa-exclamation fa-fw icon-red" aria-hidden="true"></i>{L_REPORT_CLOSED}</p>
		<!-- ENDIF -->
			<div class="content">
			<!-- IF REPORT_TEXT -->
				{REPORT_TEXT}
			<!-- ELSE -->
				{REPORT_REASON_DESCRIPTION}
			<!-- ENDIF -->
			</div>
		</div>

		</div>
	</div>

<!-- ENDIF -->

<!-- INCLUDE mcp_footer.html -->
