.error {
        font-weight: normal;
        color: #900;
        padding: 8px;
        border:1px dotted #900;
        margin-top:12px;
        margin-bottom:12px;
        background-color:#fee;
        line-height:18px;
}
.error:first-line {
	font-weight:bold;
}

.url_box {
	position:relative;
	border:0px solid #ccc;
	margin-bottom:5px;
}
.url_textfield_alert {
	border:1px solid #900;
	background-color:#fee;
}
.url_box_indicator {
	position:absolute;
	left:-20px;
	top:3px;
}
.url_box_status {
        font-size: 14px;
	bottom:-14px;
	left:4px;
	font-style:italic;
}
.url_box_message {
        font-size: 14px;
	position:absolute;
	top:-4px;
	right:-154px;
	width:140px;
	color:#900;
}
.url_box_message_alert {
	color:#900;
	font-weight:bold;
}

.div_drag_and_drop {
	border: 1px solid;
	border-color: rgb(169,169,169);
}
.div_drag_and_drop p {
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 9px;
	padding-right: 0px;
}
.div_drag_and_drop p input[type='file'] {
	border: 3px;
	background-color: transparent;
	border-color: transparent;
	color: transparent!important;
}

.profile_row .profile_column select {
	max-width: 95%;
	padding: 2px 9px;
}

.submodule_picture {
	max-width: 95%;
}

.picture_wrapper canvas {
	width: 75px;
	height: 75px;
}

.picture_wrapper img {
	width: 75px;
	height: 75px;
	border-radius: 37px;
	margin-right: 4px;
}

.fileinput-button:hover {
	color: #ffffff;
	background-color: #5b8ac7;
	border-color: rgba(0, 0, 0, 0);
}

.fileinput-button {
	color: #ffffff;
	background-color: #81a5d4;
	border-color: transparent;
}
