input[type='file'] {
	border: 3px;
	background-color: transparent;
	border-color: transparent;
	color: transparent!important;
}

.lic_question {
	padding: 0px;
	border: 0px;
	background: none;
	color: #f75236;
}

.ui-widget-header {
	background: #81a5d4;
}
.ui-widget-content a {
	color: #f75236;
}

.lic_dialog .msgDesc {
	text-align:left;
	font-weight:lighter;
}

.popoverLic:link {
	text-decoration: none;
}
.popoverLic:visited {
	text-decoration: none;
}
.popoverLic:hover {
	text-decoration: none;
}
.popoverLic:active {
	text-decoration: none;
}
