<div class="navbar" role="navigation">
	<div class="inner">

	<ul id="nav-main" class="linklist bulletin" role="menubar">

		<!-- EVENT overall_header_navigation_prepend -->
		<li class="small-icon icon-faq" <!-- IF not S_USER_LOGGED_IN -->data-skip-responsive="true"<!-- ELSE -->data-last-responsive="true"<!-- ENDIF -->><a href="{U_FAQ}" rel="help" title="{L_FAQ_EXPLAIN}" role="menuitem">{L_FAQ}</a></li>
		<!-- EVENT overall_header_navigation_append -->

	<!-- IF S_REGISTERED_USER -->
		<!-- IF U_WATCH_FORUM_LINK and not S_IS_BOT --><li class="small-icon"><a href="{U_WATCH_FORUM_LINK}" title="{S_WATCH_FORUM_TITLE}" data-ajax="toggle_link" data-toggle-class="small-icon" data-toggle-text="{S_WATCH_FORUM_TOGGLE}" data-toggle-url="{U_WATCH_FORUM_TOGGLE}">{S_WATCH_FORUM_TITLE}</a></li><!-- ENDIF -->


		<!-- IF not S_DISPLAY_SEARCH or S_IN_SEARCH -->
                        <form method="post" id="forum-search" action="{S_SEARCHBOX_ACTION}">
                        <fieldset>
                                <input class="inputbox search tiny" type="text" name="keywords" id="search_keywords" size="20" value="{L_SEARCH_FORUM}" onclick="if (this.value == '{LA_SEARCH_FORUM}') this.value = '';" onblur="if (this.value == '') this.value = '{LA_SEARCH_FORUM}';" />
                                <input class="button2" type="submit" value="{L_SEARCH}" /><a style='vertical-align:bottom;' href="{U_SEARCH}" title="{L_SEARCH_ADV_EXPLAIN}">{L_SEARCH_ADV}</a>
                                <input type="hidden" value="{FORUM_ID}" name="fid[]" />
                        </fieldset>
                        </form>
		<!-- ENDIF -->
	<!-- ELSE -->
	<!-- ENDIF -->

	</ul>
	</div>
</div>
